.height {
    height: 90vh;
    background-color: #fde7f9;
    background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);
}

.btn-clr {
    background-color: #5b90cc;
    color: white;
}

.btn-clr:hover {
    background-color: #4375ad;
    color: white;
}

.form-card {
    border-radius: 8px;
    margin: 0 auto;
    background: rgba(255, 255, 255, .7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.color {
    color: rgb(78, 77, 77) !important;
}

.remove-btn-style {
    font-weight: 500;
    border: none;
    background-color: transparent;
    outline: none;
}